= content_for :title do
  = "#{@user.login} space"

= content_for :sidebar do
  = avatar(@user.email,'100')
  %p
    %b= "#{@user.login} space"
    %br
    = link_to 'Editar', profile_path
  

  
%h3 Published SlideShows:
- if @published_slideshows.blank?
  %p No hay nada publicado.
- @published_slideshows[0..7].in_groups_of(4, false) do |slideshows|
  .subcolumns
    = render :partial => 'slideshows/slideshow', :collection => slideshows
.view_all= link_to 'View all', user_slideshows_path(@user) if @published_slideshows.length == 9


- if current_user == @user
  - if @drafted_slideshows.blank?
    %p No tienes nigún slideshow como borrador.
  %h3 Drafted SlideShows:
  - @drafted_slideshows[0..7].in_groups_of(4, false) do |slideshows|
    .subcolumns
      = render :partial => 'slideshows/slideshow', :collection => slideshows
  .view_all= link_to 'View all' if @drafted_slideshows.length == 9